@use './tokens';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color-scheme: light;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
  color: tokens.color('text-primary');
  background-color: tokens.color('background');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: block;
}

a {
  color: tokens.color('link');
  text-decoration: none;
  transition: color 150ms ease;

  &:hover,
  &:focus {
    color: tokens.color('primary');
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
}

.container {
  width: min(100%, 1200px);
  margin-inline: auto;
  padding-inline: var(--space-5);
}

@media (max-width: tokens.breakpoint('md')) {
  html {
    font-size: 15px;
  }
}

@media (max-width: tokens.breakpoint('sm')) {
  html {
    font-size: 14px;
  }
}
